*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #9DB5B2;
}
.container{
   height: 70vh;
   
    display: flex;
    align-items: center;
    justify-content: center;

}
.game{
    height: 60vmin;
    
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
   
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 8vmin;
    color: #7b589c;
}
.reset{
    
    padding: 1rem 2rem;
    border: none;
    font-size: 1.25rem;
   border-radius:1vmin ;

}
.win{
    font-size: 8vmin;
    display: none;
}